@import "../../styles/global.scss";

button {
  background-color: $primary;
  border-radius: 4px;
  color: $textWhite;
  height: 30px;

  &:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
}
