@mixin hw($height, $width: $height) {
  height: $height;
  width: $width;
}

@mixin flex($justify: null, $align: null, $direction: row) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}
